/* Slide structure */
body {
	margin: 0;
}
section {
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	page-break-after: always;
	break-after: page;
}

/* Snapping */
body {
	/* old style */
	-ms-scroll-snap-type: mandatory;
	scroll-snap-type: mandatory;
	-ms-scroll-snap-destination: 50% 0%;
	scroll-snap-destination: 50% 0%;

	/* new style */
	scroll-snap-type: block mandatory;
}
section {
	/* new style */
	scroll-snap-align: start;

	/* old style */
	-ms-scroll-snap-coordinate: 50% 0%;
	scroll-snap-coordinate: 50% 0%;
}

/* State management */
[data-hidden] { visibility: hidden; }
@media print {
	[data-visible-in~=print] { visibility: visible; }
	[data-hidden-in~=print] { visibility: hidden; }
}

/* Navigation buttons */

#nav_btns {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 24px;
	opacity: 0.3;
}
#nav_btns button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: none;
	border: none;
	display: inline;
	padding: 0;
	border: 0;
	margin: 0;
	color: inherit;
}
#nav_btns svg {
	width: 24px;
	padding-right: 5px;
}
#nav_btns button:last-of-type svg { padding: 0 0 0 5px;}
#nav_btns:hover { opacity: 1; }
